body {
    background-color: #050505;
    color: #00ff41;
    font-family: 'Consolas', 'Courier New', monospace;
    padding: 20px;
}

h2 {
    border-bottom: 2px solid #00ff41;
    display: inline-block;
    padding-bottom: 5px;
}

#log {
    margin-top: 20px;
    border: 1px dashed #333;
    padding: 10px;
    height: 500px;
    overflow-y: scroll;
    background: #000;
    font-size: 20px;
}

.line {color: #444;}
.line.separated { border-top: 1px dashed #444;}

.line.new .text {
    color: #ff0055;
    text-shadow: 0 0 5px #ff0055;
    font-weight: bold;
}
.line.new .special {
    color: #EEE;
    text-shadow: 0 0 5px #EEE;
    font-weight: bold;
}

.line.normal {
}

.line.system .text {
    color: #00ffff;
}

.line .type { display: none;}

.clear-db-button {margin-top: 10px; background-color: #333; color: #00ff41; border: 1px solid #00ff41; padding: 5px 10px;}
